useDynLib("arulesSequences", .registration = TRUE)

import("methods")
import("arules")

export(
    "cspade",
    "read_baskets"
)

exportClasses(
    "sgCMatrix",
    "sequences", "summary.sequences",
    "sequencerules", "summary.sequencerules",
    "timedsequences", "summary.timedsequences",
    "SPparameter", "SPcontrol"
)

exportMethods(
    "[",
    "%in%",
    "%ain%",
    "%pin%",
    "%ein%",
    "c",
    "coerce",			## for setAs
    "coverage",
    "dim",
    "dimnames",
    "duplicated",
    "firstOrder",
    "format",
    "initialize",
    "inspect",
    "is.maximal",
    "is.closed",
    "is.subset",
    "is.superset",
    "is.redundant",
    "itemFrequency",
    "itemInfo",
    "itemInfo<-",
    "itemLabels",
    "itemLabels<-",
    "itemTable",
    "itemsets",
    "LIST",
    "labels",
    "length",
    "lhs",
    "nitems", 
    "match",
    "ritems",
    "rhs",
    "ruleInduction",
    "ruleInfo",
    "ruleInfo<-",
    "sequenceInfo",
    "sequenceInfo<-",
    "similarity",
    "size",
    "show",
    "subset",
    "summary",
    "support",
    "times",
    "timeFrequency",
    "timeInfo",
    "timeInfo<-",
    "timeTable",
    "timesets",
    "unique"
)

##
## importFrom("utils", "head", "tail")
importFrom("utils",  "type.convert")

